# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.next
dist
dist-ssr
dist_electron

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
server/scratch/
server/data/*.json
crm_deploy.zip
true/
output.log